
@using Mawjoud2.Models
@model RegisterViewModel
@{
    ViewBag.Title = "S'inscrire";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong>@ViewBag.Message
        </div>
    }
}
else
{
    <!-- /BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Acceuil</a></li>
                <li class="active">Créer un compte</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->


    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container" id="checkout-form">
            <!-- row -->
            @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {  role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-6">
                <div class="billing-details">
                    <p>Already a customer ? <a href="#home">Login</a></p>
                    <div class="section-title">
                        <h3 class="title">Sign up NOW!</h3>
                    </div>
                    <div class="form-group" id="first-name_div">


                        @Html.TextBoxFor(m => m.FristName, new { @class = "input", @placeholder = "Prénom" })
                        @Html.ValidationMessageFor(m => m.FristName, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group " id="last-name_div">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "input", @placeholder = "Nom" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group" id="email_div">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })


                    </div>

                    <div class="form-group" id="password_div">
                        @Html.TextBoxFor(m => m.Password, new { @class = "input", @placeholder = "Mot de passe" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-group" id="pass_confirm_div">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "input", @placeholder = "Confirmer votre mot de passe" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-group" style="text-align: center;">
                        <input type="submit" name="register" value="Register" class="btn btn-info">
                    </div>

                </div>
            </div>

            }
            </div>
        </div>


            if (ViewBag.Message != null)
            {
            <div class="alert alert-danger">
                <strong>Error!</strong>@ViewBag.Message
            </div>
            }

            }
            <div>
                @Html.ActionLink("Login", "Login")
            </div>



